*{
    margin:0;
    padding:0;
}

html,
header{
    height: 100%;
}

header{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white ;
}


div{
    display:flex;
    width:25%;
    height:50%;
    border-radius: 10px;
}

form{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}

img{
    width: 30%;
    margin-bottom: 10%;
}


#Ig{
    width: 30%;
    
    padding-left: 130%;
    padding-top: 5%;
    
   
    
}

#bussola{
    width: 5%;
    height: 25px;
    padding-left: 5%;
    padding-top: 5%;  

}

#navegador{
    width: 5%;
    height: 25px;
    padding-left: 100%;
    padding-top: 5%;
}

#coracao{
    width: 5%;
    height: 25px;
    padding-left:3%;
    padding-top: 5%;
}

#origami{
    width: 5%;
    height: 25px;
    padding-left:5%;
    padding-top: 5%;
}






#pesquisar{
    display: flex;
    justify-content:center ;
    align-items: center;
    
    width: 25%;
    height: 30%;
    margin-bottom: 3%;
    border-radius: 3px;
    color:#eee;
    font-weight: bold;
    cursor:text;
    outline: none;
    padding-left: 10%;
    
    
    
    
}

#caveira{
    padding-left: 28%;
}

.curtida{
    width: 5%;
    height: 25px; 
    position: relative;
    right:1%;
    bottom:300px;



}



.comentario{
    width: 5%;
    height: 25px; 
    position: relative;
    bottom: 300px;
    right:3.7%;
    
}


.compartilhar{
    width: 5%;
    height: 25px;
    padding-bottom: 100%;
    padding-left: 35%;
    position: relative;
    bottom:330px; 
    left:27%;   
}


.save{
    width: 5%;
    height: 25px;
    padding-bottom: 100%;
    padding-right:1%;
    position: relative;
    bottom:330px;
    left:33%;
}







.content {
    flex: 1;
    display: flex;
    
}

#icone_fluxo{
    width: 32px;
    height: 32px;
    
}

#pontinhos{
    width: 32px;
    height: 32px;
    background-color: red;
    padding-bottom: 100%;
    padding-left: 35%;
    position: relative;
    bottom: 1000px;
}







.flex-container {
    display: flex;
    flex-direction: column;    
    align-items: center;
    overflow-y: scroll;
    height: 40%;
    width: 45%;

    
    position:absolute;
    top:118px;
    left:45%;
    
  
}

.flex-item{
    font-weight: 800;
    position: relative;
    right:40px;
    
    
}
.flex-item{
    font-weight: 800;
    position: relative;
    right:40px;
    
    
}




#comentario{
    display: flex;
    justify-content:center ;
    align-items: center;
    
    width: 20%;
    height: 40px;
    margin-bottom: 3%;
    border-radius: 3px;
    color:#eee;
    font-weight: bold;
    cursor:text;
    outline: none;
    
    position: relative;
    bottom: 2172px;
    left:1104px;
    
}









